<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="./img/logo.png" alt="" id="logo-img">
        </div>
        <div><input class="searchbar" placeholder="search for link with title" type="text"></div>
        <div><h1 class="folder-title">title</h1></div>
       

        <div><form  method="post">
            <input class="add-new-link" type="text" id="actuallink" placeholder="enter link">
            <input class="add-new-link" type="text" id="titleOfLink" placeholder="enter description">
            <button id="addFolderButton">Add Link </button>
        </form></div>
       
    </div>
   

    <div class="folders">
        <h1>LINKS</h1>
        <div class="folderCollection">

            <!-- <div class="link">
                <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, numquam sit. Voluptatibus, vitae aliquam. Expedita temporibus excepturi explicabo accusantium odio enim beatae ut quam repudiandae! Autem odit id et debitis?</p>
                <a href="#" class="actuallink">GO</a>
            </div> -->
            
        </div>
       
    </div>

    <script src='folderDetails.js'></script>
</body>
</html>